<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">

        <title>Il gruppo dei teatranti</title>

        <!-- Angular -->
      	<script type="text/javascript" src="js/angular.min.js"></script>
      	<script type="text/javascript" src="js/angular-ui-router.min.js"></script>
      	<script type="text/javascript" src="js/ngStorage.js"></script>
      	<script type="text/javascript" src="js/angular-touch.js"></script>

        <!-- Angular-mobile-UI -->
        <!-- <link rel="stylesheet" href="css/mobile-angular-ui-hover.min.css" />
        <link rel="stylesheet" href="css/mobile-angular-ui-base.min.css" />
        <link rel="stylesheet" href="/css/mobile-angular-ui-desktop.min.css" />
        <script src="js/mobile-angular-ui.js"></script>
        <script src="js/mobile-angular-ui.gestures.js"></script>
        <script src="js/mobile-angular-ui.core.js"></script> -->

        <!-- Template -->

        <link href="template/css/business-casual.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
        <!-- jQuery -->
        <script src="template/js/jquery.js"></script>
        <!-- Bootstrap -->
        <link href="template/css/bootstrap.min.css" rel="stylesheet">
        <script src="template/js/bootstrap.min.js"></script>

      	<!-- APP e controller -->
      	<script type="text/javascript" src="app/app.js"></script>
      	<script type="text/javascript" src="app/controllers/mainController.js"></script>
      	<script type="text/javascript" src="app/controllers/indexController.js"></script>
      	<script type="text/javascript" src="app/controllers/ripassoController.js"></script>
    </head>
    <body ng-app="teatrantiApp" ng-controller="mainController">
      <div class="brand">{{login.attore ? login.attore : "I teatranti"}}</div>
      <div class="address-bar">Il gruppo dei teatranti - Arte, Amicizia, Birra e Tante risate</div>

      <!-- Navigation -->
      <nav class="navbar navbar-default" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ng-show="(login)">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                  <a class="navbar-brand" href="index.html">{{login.attore ? login.attore : "I teatranti"}}</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li class="pull-right" ng-show="(login)" ng-click="setLoginData(null)">
                          <a href="#">Logout</a>
                      </li>
                  </ul>
              </div>
              <div class="collapse navbar-collapse pull-left hidden-xs" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li ng-click="setLoginData(null)">
                          <a>Home</a>
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>

      <div id="appDiv" class="app-body" ui-view></div>
    </body>
</html>
