<div ng-click="miaBattutaShowed=true" ng-dblclick="prossimaBattuta()" ng-swipe-left="prossimaBattuta()">
			<div class="panel-group" ui-default="2">
			  <div class="panel panel-primary">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			          {{spettacolo | capitalize}}
			      </h4>
			    </div>
		      <div class="panel-body">
		        <h5 ng-repeat="battuta in battute"><strong>{{battuta.name}}:</strong> {{battuta.text}}</h5>
		      </div>
			  </div>
			</div>

			<div class="panel-group" ui-default="2" ng-show="(miaBattutaShowed)">
			  <div class="panel panel-success">
		      <div class="panel-body">
		        <h5><strong>{{miaBattuta.text}}<strong></h5>
			    </div>
			  </div>
			</div>
</div>
