<div class="container">
 <div class="row">
   <div class="box">
     <div class="col-lg-12">
       <hr>
       <h2 class="intro-text text-center">Scegli lo
           <strong>spettacolo</strong>
       </h2>
       <hr>
        <form role="form" ng-submit='login()'>
          <div class="row">
              <div class="form-group col-lg-4">
                <label>Spettacolo</label>
        				<select class="form-control" ng-model="spettacoloSelezionato" ng-change="setSpettacoloSelezionato(spettacoloSelezionato)">
        					<option ng-repeat="spettacolo in spettacoli" value="{{spettacolo}}">
        						{{spettacolo | capitalize}}
        					</option>
        				</select>
              </div>

              <div class="form-group col-lg-4" ng-show="attoriCaricati">
                <label>Attore</label>
                <select class="form-control" ng-model="attoreSelezionato">
        					<option ng-repeat="attore in attori" value="{{attore}}">
        						{{attore | capitalize}}
        					</option>
        				</select>
              </div>


      		    <button class="btn btn-primary btn-block" ng-show="(attoreSelezionato && spettacoloSelezionato)" ng-click="saveStateAndGoToRipasso()">
                Inizia
      		    </button>
          </div>
        </form>
    </div>
  </div>
 </div>
</div>
